<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ctrlPersonaCliente</servlet-name>
        <servlet-class>co.edu.poli.Controller.ctrlPersonaCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ctrlPersonaTrabajador</servlet-name>
        <servlet-class>co.edu.poli.Controller.ctrlPersonaTrabajador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ctrlProducto</servlet-name>
        <servlet-class>co.edu.poli.Controller.ctrlProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ctrlProveedor</servlet-name>
        <servlet-class>co.edu.poli.Controller.ctrlProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ctrlVentas</servlet-name>
        <servlet-class>co.edu.poli.Controller.ctrlVentas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ctrlPersonaCliente</servlet-name>
        <url-pattern>/ctrlPersonaCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ctrlPersonaTrabajador</servlet-name>
        <url-pattern>/ctrlPersonaTrabajador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ctrlProducto</servlet-name>
        <url-pattern>/ctrlProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ctrlProveedor</servlet-name>
        <url-pattern>/ctrlProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ctrlVentas</servlet-name>
        <url-pattern>/ctrlVentas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
